*peaks*
*log* 
*png*
*jpg*
*.ipynb_checkpoints
.DS_Store
__pycache__/
*.pyc
.env
.vscode/
*bed* 
*gtf* 
*chip*
*annotated*
*pkl*
*fa*
*bam* 
*pdf*
*csv*
*err* 
*out* 
*RData*
*motif*
*data*
*old_notebooks*